---
Language: Cpp
BasedOnStyle: Google

# Отступы
IndentWidth: 4
TabWidth: 4
UseTab: Never
AccessModifierOffset: -4

# Длина строки
ColumnLimit: 100

# Скобки
BreakBeforeBraces: Attach
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

# Include
IncludeBlocks: Regroup
IncludeCategories:
  # Заголовки проекта
  - Regex: '^"shell/'
    Priority: 3
  # Стандартная библиотека
  - Regex: '^<[a-z_]+>'
    Priority: 1
  # Системные заголовки
  - Regex: '^<.*>'
    Priority: 2

# Пространства имён
NamespaceIndentation: None
FixNamespaceComments: true

# Указатели и ссылки
PointerAlignment: Left
ReferenceAlignment: Left

# Прочее
SortIncludes: true
ReflowComments: true
SpaceAfterCStyleCast: false
SpaceBeforeParens: ControlStatements
SpacesInAngles: false
...
